html {
    background-image: url("../images/background_blur_rain.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height:100%;
    background-color: black;
    background-position: center;
}
h1{
    color: #145c96;
}
