.list-group-item {
    background-color: black;
    color: #333;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}

.list-group-item.active {
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
}

.list-group-item:hover {
    color: #03e9f4;
}
