html
{
  background-image: url("images/background_blur_rain.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height:100%;
  background-color: #e6e6e6;
  background-position: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  height: 100%;
  width: 100%;
}

nav {
  background-color: rgb(61, 59, 58);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.nav-center {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.nav-header h2 {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
  color: rgb(111, 196, 177);
}

.links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}

.links li {
  margin: 0 1rem;
}

.links li a {
  color: rgb(111, 196, 177);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
}

.links li a:hover {
  color: #4CAF50;
}

.routes-container {
  max-width: 1000px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.routes-container h2 {
  margin-top: 0;
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}
